<h2 class="text-muted">
  <% if @posts.any? %>
    <%= pluralize(@posts.count, 'result') %> found
  <% else %>
    No results found
  <% end %>
</h2>

<% @posts.each do |post| %>
  <%= render post %>
<% end %>